{% extends "base_map_template.html" %}
{% block style_and_vector_layer %}

var style = new ol.style.Style({
    symbolizers: [
        new ol.style.Shape({
        size: ol.expr.parse("10 + 5 * magnitude"),
        fill: new ol.style.Fill({
            color: ol.expr.parse("color"),
            opacity: 0.7
        }),
        stroke: new ol.style.Stroke({
            color: ol.expr.parse("color"),
            opacity: 0.3
        })
    })
    ]
});

var vector = new ol.layer.Vector({
    source: new ol.source.Vector({
        features: [
        {% for event in events %}
            new ol.Feature({
                geometry: new ol.geom.Point(
                    ol.proj.transform([
                        {{ event.longitude }},
                        {{ event.latitude }}],
                        "EPSG:4326", "EPSG:3857")),
                magnitude: {{ event.magnitude }},
                tooltip: "{{ event.tooltip }}",
                color: "{{ event.color }}"
            }),
        {% endfor %}
        ]
    }),
    style: style
});

map.addLayer(vector);

{% endblock %}
